@{
    ViewBag.Title = "Signin";
}

<h2>SignIn - LaunchPad</h2>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="form-horizontal">
                <h4>Use a local account to log in.</h4>
                <hr>
                <div class="form-group">
                    <label for="UserName" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        <input type="text" name="UserName" id="txtUserName" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input type="password" name="Password" id="txtPassword" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ChurchCode" class="col-md-2 control-label">Church code</label>
                    <div class="col-md-10">
                        <input type="text" name="ChurchCode" id="txtChurchCode" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="btnSignIn" class="btn btn-default" value="Sign in">
                        <input type="button" id="btnCreateAuthToken" class="btn btn-default" value="Create auth token">
                        <input type="button" id="btnSignOut" class="btn btn-default" value="Sign out">

                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">

            <h4>Use another service to log in.</h4>
            <hr>
            <div>
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>

        </section>
    </div>
</div>

<input type="hidden" id="hid_shareToken" />
@section scripts{
    <script src="http://sso.local/scripts/sso-proxy-1.0.js"></script>
    <script type="text/javascript">
        //ssoProxy.baseUrl = "http://sso.local";
        //Sign in logic.
        $(function () {
            $("#btnSignIn").click(function (event) {
                //event.preventDefault();
                ssoProxy.signIn(
                    {
                        data: {
                            consumerKey: "000000001125P149",
                            consumerSecret: "5Iqd3Ad3S2gdDr6NEg7IcFh5Nj6V-6XL",
                            userName: $("#txtUserName").val(),
                            password: $("#txtPassword").val(),
                            churchCode: $("#txtChurchCode").val(),
                            returnUrl: "http://launchpad.local.fellowshipone.com/Demo/index"
                        },
                        success: function (rData) {
                            //old logic here. ex.
                            sessionStorage.user = rData.user;
                            sessionStorage.accessToken = rData.accessToken;
                            sessionStorage.refreshToken = rData.refreshToken;
                        },
                        error: function (eData) { }
                    });
                return false;
            });

            $("#btnCreateAuthToken").click(function () {
                ssoProxy.createAuthToken({
                    data: {
                        consumerKey: "000000001125P149",
                        consumerSecret: "5Iqd3Ad3S2gdDr6NEg7IcFh5Nj6V-6XL",
                        sharedToken: ssoProxy.getSharedToken()
                    },
                    success: function (rData) {
                        //old logic here. ex.
                        sessionStorage.user = rData.user;
                        sessionStorage.accessToken = rData.accessToken;
                        sessionStorage.refreshToken = rData.refreshToken;
                    },
                    error: function (msg) { }
                });
            });

            $("#btnSignOut").click(function () {
                ssoProxy.signOut(function () {
                    //old logic here. ex.
                    sessionStorage.removeItem("user");
                    sessionStorage.removeItem("accessToken");
                    sessionStorage.removeItem("refreshToken");
                });
            });
        });
    </script>
}